<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
<p th:text="${user.getFirstName()}">VALUE_Name</p>
<p th:text="${user.getLastName()}">VALUE_Surname</p>
<p th:text="${user.getEmail()}">VALUE_Email</p>
<p th:text="${user.getId()}">VALUE_Id</p>

<a th:href="@{/user/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}">
  <input type="submit" value="Delete"/>
</form>
</body>
</html>
